fastapi
uvicorn[standard]
pydantic
pydantic-settings
litellm
google-generativeai
python-dotenv
pyyaml
google-cloud-aiplatform
spotipy
sqlalchemy
mousetools
streamlit
requests
apscheduler
firebase-admin
pywebpush